<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="styles.css">

    <script src="https://kit.fontawesome.com/54ff6d8ec9.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" charset="utf-8"></script>
    <style media="screen">
    <% let efficiencyper=efficiency*1.6; %>
      .efficiencyPercentage{
        height:20px;background-color: #2196F3;border-radius: 15px;width:<%= efficiencyper %>px ;

      }
    </style>
</head>
  <body>
