<nav id="l-nav"class="main-menu">
        <ul>
            <li>
              <div class=" has-subnav navbar-brand">
                <h2><span class="heading-first">C</span><span id="hidespan1" class="heading-first hide">ODE</span></span><span class="heading-second">B</span><span id="hidespan2"class="heading-second hide">REAKER</span></h2>
              </div>

            </li>
            <li class="has-subnav nav-item">
                <a  class="toHighlight" href="/dashboard">
                  <img class="icon-image" src="Logo/Dashboard.png" alt="">
                  <span class="nav_name">DASHBOARD</span>
                </a>

            </li>
            <li class="has-subnav nav-item">
                <a class="toHighlight" href="/codeitout">
                  <img class="icon-image" src="Logo/CodeItOut.png" alt="">
                  <span class="nav_name">CODE IT OUT</span>
                </a>

            </li>
            <li class="has-subnav nav-item">
                <a class="toHighlight" href="#">
                  <img class="icon-image" src="Logo/BroCode.png" alt="">
                  <span class="nav_name">BRO CODE</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="toHighlight" href="#">

                    <img class="icon-image" src="Logo/LearnBros.png" alt="">
                    <span class="nav_name">LEARN BROS</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="toHighlight" href="#">

                    <img class="icon-image" src="Logo/Premium.png" alt="">
                    <span class="nav_name">PREMIUM</span>
                </a>
            </li>

        </ul>

        <ul class="logout">
            <li>
                 <a class="navbar-titles toHighlight" href="#">
                   <img class="icon-image" src="Logo/Logo.png" alt="logo">
                   <span class="nav_name">SETTINGS</span>
                 </a>
            </li>
        </ul>
    </nav>
