<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="CodeItOut.css">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/54ff6d8ec9.js" crossorigin="anonymous"></script>

   <title>Code It Out</title>

</head>

<body>

  <nav id="l-nav"class="main-menu">
          <ul>
              <li>
                <div class=" has-subnav navbar-brand">
                  <h2><span class="heading-first">C</span><span id="hidespan1" class="heading-first hide">ODE</span></span><span class="heading-second">B</span><span id="hidespan2"class="heading-second hide">REAKER</span></h2>
                </div>

              </li>
              <li class="has-subnav nav-item">
                  <a  class="toHighlight" href="/">
                    <img class="icon-image" src="Logo/Dashboard.png" alt="">
                    <span class="nav_name">DASHBOARD</span>
                  </a>

              </li>
              <li class="has-subnav nav-item">
                  <a class="toHighlight" href="/codeitout">
                    <img class="icon-image" src="Logo/CodeItOut.png" alt="">
                    <span class="nav_name">CODE IT OUT</span>
                  </a>

              </li>
              <li class="has-subnav nav-item">
                  <a class="toHighlight" href="#">
                    <img class="icon-image" src="Logo/BroCode.png" alt="">
                    <span class="nav_name">BRO CODE</span>
                  </a>

              </li>
              <li class="nav-item">
                  <a class="toHighlight" href="#">

                      <img class="icon-image" src="Logo/LearnBros.png" alt="">
                      <span class="nav_name">LEARN BROS</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="toHighlight" href="#">

                      <img class="icon-image" src="Logo/Premium.png" alt="">
                      <span class="nav_name">PREMIUM</span>
                  </a>
              </li>

          </ul>

          <ul class="logout">
              <li>
                   <a class="navbar-titles toHighlight" href="#">
                     <img class="icon-image" src="Logo/Logo.png" alt="logo">
                     <span class="nav_name">SETTINGS</span>
                   </a>
              </li>
          </ul>
      </nav>



    <div class="content">
<section id="code-it-out">


      <div class="code-it-out-nav">
       <a href="#" class="previous round"><i class="fas fa-chevron-left"></i></a>
       <h3 class="code-for-the-day-heading">CODE IT OUT</h3>
     </div>

     <!-- Grid Container -->

     <div class="code-it-out-container">

       <!-- BOX 1 -->
       <div class="code-it-out-container-boxes shadows">
         <div class="code-it-out-container-boxes-heading">
           <h5 class="heading-style">CODE FOR THE DAY</h5>
         </div>
         <div class="code-it-out-container-logo-div shadows">
           <img class="logo-img" src="images/53.png" alt="logo-img">
         </div>
         <div class="code-it-out-container-content-div">
           <div class="code-it-out-container-content shadows">
             <h5 class="inline target">TARGET</h5>
             <h5 class="inline colon">:</h5>
             <h5 class="inline value ">10 Q'S</h5>
           </div>
           <div class="code-it-out-container-content shadows">
             <h5 class="inline target">DONE</h5>
             <h5 class="inline colon">:</h5>
             <h5 class="inline value">2 Q'S</h5>
           </div>
           <div class="code-it-out-container-content shadows">
             <h5 class="inline target">CMI</h5>
             <h5 class="inline colon">:</h5>
             <h5 class="inline value">0.51</h5>
           </div>
         </div>
       </div>

     <!-- BOX 2 -->
       <div class="code-it-out-container-boxes shadows">
         <div class="code-it-out-container-boxes-heading">
           <h5 class="heading-style">Q'S HISTORY</h5>
         </div>
         <div class="code-it-out-container-logo-div shadows">
           <img class="logo-img" src="images/50.png" alt="logo-img">
         </div>
         <div class="code-it-out-container-content-div">
           <div class="code-it-out-container-content shadows hackerrank">
             <div class="platform-img-div">
               <img class="platform-img" src="images/HackerRank Logo.png" alt="hackerrank-logo">
             </div>

             <h5 class="inline">NUMBER OF ISLANDS</h5>
           </div>
           <div class="code-it-out-container-content shadows leetcode">
             <div class="platform-img-div">
               <img class="platform-img" src="images/LeetCode Logo.png" alt="LeetCode-logo">
             </div>

             <h5 class="inline ">NUMBER OF ISLANDS</h5>
           </div>
           <div class="code-it-out-container-content shadows hackerrank">
             <div class="platform-img-div">
               <img class="platform-img" src="images/HackeRrank Logo.png" alt="LeetCode-logo">
             </div>

             <h5 class="inline">BINARY TREE</h5>
           </div>
         </div>
     </div>

       <!-- BOX 3 -->
       <div class="code-it-out-container-boxes shadows">
         <div class="code-it-out-container-boxes-heading">
           <h5 class="heading-style">UPCOMING CONTESTS</h5>
         </div>

         <div class="code-it-out-container-logo-div shadows">
           <img class="logo-img" src="images/51.png" alt="logo-img">
         </div>
         <div class="code-it-out-container-content-div">
           <div class="code-it-out-container-content shadows">
             <div class="platform-img-div">
               <img class="platform-img" src="images/HackeRrank Logo.png" alt="LeetCode-logo">
             </div>
             <h5 class="inline upcoming-contest-content left">HACKIT</h5>
             <h5 class="inline upcoming-contest-content center">:</h5>
             <h5 class="inline upcoming-contest-content center">26/03/21</h5>
           </div>
           <div class="code-it-out-container-content shadows">
             <div class="platform-img-div">
               <img class="platform-img" src="images/LeetCode Logo.png" alt="LeetCode-logo">
             </div>
             <h5 class="inline upcoming-contest-content left">CODEIT</h5>
             <h5 class="inline upcoming-contest-content center">:</h5>
             <h5 class="inline upcoming-contest-content center">28/03/21</h5>
           </div>
           <div class="code-it-out-container-content shadows">
             <div class="platform-img-div">
               <img class="platform-img" src="images/HackerRank Logo.png" alt="LeetCode-logo">
             </div>
             <h5 class="inline upcoming-contest-content left">IPC</h5>
             <h5 class="inline upcoming-contest-content center">:</h5>
             <h5 class="inline upcoming-contest-content center">05/4/21</h5>
           </div>
         </div>

       </div>

       <!-- BOX 4 -->
       <div class="code-it-out-container-boxes shadows">
         <div class="code-it-out-container-boxes-heading">
           <h5 class="heading-style">ANALYSING YOU</h5>
         </div>

         <div class="code-it-out-container-logo-div shadows">
           <img class="logo-img" src="images/52.png" alt="logo-img">
         </div>
         <div class="code-it-out-container-analysingyou-content-div">
           <h5 class="inline">TOP</h5>
           <div class="code-it-out-container-content shadows blue">
             <h5 class="inline target">ARRAY</h5>
             <h5 class="inline colon">:</h5>
             <h5 class="inline value">100 Q'S</h5>
           </div>
           <h5 class="inline">BOTTOM</h5>
           <div class="code-it-out-container-content shadows pink">
             <h5 class="inline target ">LISTS</h5>
             <h5 class="inline colon">:</h5>
             <h5 class="inline value">10 Q'S</h5>
           </div>
         </div>
       </div>

   </div>
</section>

      </div>



      <nav id="r-nav"class="main-menu-r">
              <ul>
                  <li class="navbar-brand">

                        <img src="Logo/Notification.png" class="notification-logo">

                    <div class="element toHide">
                      <h2 class="account-name ">MR. <%= username %> </h2>
                    </div>

                      <div class="circle-empty">
                        <img class="avatarImg" src="<%= profilepic %>" alt="">
                      </div>


                  </li>
                  <li id="hideitem1" class="has-subnav nav-item">
                      <a  class="toHighlight" href="#">
                        <img src="Logo/SH-1.png" class="navbar-logo">
                      </a>
                  </li>
                  <li id="hideitem2" class="has-subnav nav-item">
                      <a class="toHighlight" href="#">
                        <img class="navbar-logo" src="images/50.png" alt="" />
                      </a>
                  </li>
                  <div id="hideitem3">
                    <div class="superhero-div">
                        <a id="superheroCornerLink" href="#">SUPERHERO CORNER</a>
                    </div>

                    <li class="nav-item hero-div">
                      <button href="#" type="button" class=" btn colorTochange heroBox">
                        <div class="superheroimg-div">
                          <img src="Logo/SH-1.png" class="superheroImage">
                        </div>
                        <div class="algoCoder-text">
                          <span class="heading-first">ALGO</span><span class="heading-second">CODER</span>
                        </div>
                        <div class="flex justify-content-around trophies toHide">
                          <img class="trophie-image" src="Logo/45.png">
                          <img class="trophie-image" src="Logo/45.png">
                          <img class="trophie-image" src="Logo/45.png">
                        </div>

                      </button>
                    </li>
                    <li class="history-header toHide">

                      <h1>HISTORY OF QUESTIONS</h1>
                    </li>
                    <li class="question-list toHide">
                    <% for(let i=0;i<8;i++) { %>
                    <%  if ( statusinfo[i] === "WRONG_ANSWER" ||statusinfo[i]=== "COMPILATION_ERROR" ){ %>
                        <button type="button" class="btn question-box" style="background-color:#f55c47 ;">
                  <% }  else { %>
                        <button type="button" class="btn question-box">
                  <%    }   %>

                          <div class="question">
                            <div class="circle">
                              <img src="Logo/CodeForces.png" class="small-circle-img">
                            </div>
                            <div class="question-text">
                              <p> <%= history[i] %> - C++</p>
                            </div>

                          </div>
                        </button>
                    <%  } %>



                  </li>
                  </div>

              </ul>


          </nav>



    <!-- Bootstrap Script -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>

</html>
