<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="CodeForTheDay.css">

  <script src="https://kit.fontawesome.com/54ff6d8ec9.js" crossorigin="anonymous"></script>

   <title>Code for the Day</title>

</head>

<body>


  <!-- Left Nav Bar -->
  <%- include('partials/leftnav') %>

  <!-- Content -->
    <div class="content">

      <section id="codefortheday">
        <div class="nav">
          <button onclick="goBack()" class="previous round" style="border:none;background:#E5E5E5"><i class="fas fa-chevron-left" ></i></button>
          <h3 class="heading">CODE FOR THE DAY</h3>
        </div>
      <div class="container">
            <div class="gridbox">
              <div class="grid-box-heading-div">
              <h6 class="grid-box-heading">TOTAL Q'S TARGET FOR THE DAY</h6>
              </div>
            <h1 class="gridbox-content">10</h1>
          </div>
          <div class="gridbox">
            <div class="grid-box-heading-div">
            <h6 class="grid-box-heading">DONE TILL NOW</h6>
          </div>
          <h1 class="gridbox-content">5</h1>
        </div>
        <div class="gridbox">
          <div class="grid-box-heading-div">
          <h6 class="grid-box-heading">CODING MAGNITUDE INDEX</h6>
        </div>
        <h1 class="gridbox-content">0.51</h1>
      </div>
      <form action="/HackerRank" method="get">
        <button class="grid-platform-box leetcode" style="border:none;padding:0">
          <div class="grid-platform-box-heading-div shadows" >
            <img class="platform-logo"src="images/LeetCode Logo.png" alt="leetcode-image">
            <h4 class="grid-platform-box-heading">LEETCODE</h4>
          </div>
          <div class="grid-platform-content-container">
            <div class="grid-platform-content-box shadows ">
            <h6 class="TFT-align float">TARGET FOR TODAY</h6>
            <h6 class="TFT-align float">:</h6>
            <h6 class="TFT-align float">5</h6>
            </div>
            <div class="grid-platform-content-box shadows">
              <h6 class="DTN-align float">DONE TILL NOW</h6>
              <h6 class="TFT-align float">:</h6>
              <h6 class="TFT-align float">10</h6>
            </div>
          </div>
          <hr class="box-division">
          <div class="grid-platform-content-container">
            <a href="#" type="button " class="btn platform-button shadows">WEEKELY REPORT</a>
            <a href="#" type="button " class="btn platform-button shadows">Q'S BY TOPIC</a>
          </div>
        </button>
      </form>

      <button class="grid-platform-box hackerrank" style="border:none;padding:0">
        <div class="grid-platform-box-heading-div shadows">
          <img class="platform-logo" src="images/HackerRank logo.png" alt="hackerrank-logo">
        <h4 class="grid-platform-box-heading">HACKERRANK</h4>
      </div>
      <div class="grid-platform-content-container">
        <div class="grid-platform-content-box shadows">
        <h6 class="TFT-align float">TARGET FOR TODAY</h6>
        <h6 class="TFT-align float">:</h6>
        <h6 class="TFT-align float">5</h6>
        </div>
        <div class="grid-platform-content-box shadows">
          <h6 class="DTN-align float">DONE TILL NOW</h6>
          <h6 class="TFT-align float">:</h6>
          <h6 class="TFT-align float">10</h6>
        </div>
      </div>
      <hr class="box-division">
      <div class="grid-platform-content-container">
        <a href="#" type="button " class="btn platform-button shadows">WEEKELY REPORT</a>
        <a href="#" type="button " class="btn platform-button shadows">Q'S BY TOPIC</a>
      </div>
    </button>
    <form class="" action="/CodeForces" method="get">
      <button class="grid-platform-box codeforces" style="border:none;padding:0">
        <div class="grid-platform-box-heading-div shadows">
          <img class="platform-logo" src="images/CodeForces logo.png" alt="Codeforces-logo">
        <h4 class="grid-platform-box-heading">CODEFORCES</h4>
      </div>
      <div class="grid-platform-content-container">
        <div class="grid-platform-content-box shadows">
        <h6 class="TFT-align float">TARGET FOR TODAY</h6>
        <h6 class="TFT-align float">:</h6>
        <h6 class="TFT-align float">5</h6>
        </div>
        <div class="grid-platform-content-box shadows">
          <h6 class="DTN-align float">DONE TILL NOW</h6>
          <h6 class="TFT-align float">:</h6>
          <h6 class="TFT-align float">10</h6>
        </div>
      </div>
      <hr class="box-division">
      <div class="grid-platform-content-container">
        <a href="#" type="button " class="btn platform-button shadows">WEEKELY REPORT</a>
        <a href="#" type="button " class="btn platform-button shadows">Q'S BY TOPIC</a>
      </div>
    </button>
    </form>

      </div>
      </section>

      </div>







      <!-- Right Nav -->

      <%- include('partials/rightnav') %>


    <!-- Bootstrap Script -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
<script>
function goBack()
{
  window.history.back();
}
</script>

</body>

</html>
