<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- StyleSheets -->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="history.css">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/54ff6d8ec9.js" crossorigin="anonymous"></script>

   <title>History</title>

</head>

<body>

  <nav id="l-nav"class="main-menu">
          <ul>
              <li>
                <div class=" has-subnav navbar-brand">
                  <h2><span class="heading-first">C</span><span id="hidespan1" class="heading-first hide">ODE</span></span><span class="heading-second">B</span><span id="hidespan2"class="heading-second hide">REAKER</span></h2>
                </div>

              </li>
              <li class="has-subnav nav-item">
                  <a  class="toHighlight" href="#">
                    <img class="icon-image" src="Logo/Dashboard.png" alt="">
                    <span class="nav_name">DASHBOARD</span>
                  </a>

              </li>
              <li class="has-subnav nav-item">
                  <a class="toHighlight" href="#">
                    <img class="icon-image" src="Logo/CodeItOut.png" alt="">
                    <span class="nav_name">CODE IT OUT</span>
                  </a>

              </li>
              <li class="has-subnav nav-item">
                  <a class="toHighlight" href="#">
                    <img class="icon-image" src="Logo/BroCode.png" alt="">
                    <span class="nav_name">BRO CODE</span>
                  </a>

              </li>
              <li class="nav-item">
                  <a class="toHighlight" href="#">

                      <img class="icon-image" src="Logo/LearnBros.png" alt="">
                      <span class="nav_name">LEARN BROS</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="toHighlight" href="#">

                      <img class="icon-image" src="Logo/Premium.png" alt="">
                      <span class="nav_name">PREMIUM</span>
                  </a>
              </li>

          </ul>

          <ul class="logout">
              <li>
                   <a class="navbar-titles toHighlight" href="#">
                     <img class="icon-image" src="Logo/Logo.png" alt="logo">
                     <span class="nav_name">SETTINGS</span>
                   </a>
              </li>
          </ul>
      </nav>



    <div class="content">
<section id="history">
  <div class="history-nav">
      <a href="#" class="previous round inline"><i class="fas fa-chevron-left"></i></a>
      <img class="heading-logo inline"src="images/50.png" alt="heading-logo">
      <h3 class="history-heading inline">QUESTIONS HISTORY</h3>
    </div>

    <!-- History Container -->

    <div class="history-container">
      <div class="history-container-div correct-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30 ">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div TLE-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div wrong-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30 ">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div wrong-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div TLE-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div wrong-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div correct-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div correct-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div correct-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div wrong-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>

      <div class="history-container-div wrong-color">
        <div class="history-container-platform-logo-div inline">
          <img class="history-container-platform-logo inline"src="images/HackerRank logo.png" alt="platform-logo">
        </div>
        <h6 class="inline margin-L-2 width-30">NUMBER OF ISLANDS</h6>
        <h6 class="inline margin-L-1 center ">LANGUAGE :</h6>
        <h6 class="inline">Javascript</h6>
      </div>
    </div>
</section>
      </div>

      <nav id="r-nav" class="main-menu-r">
              <ul>
                  <li class="navbar-brand">

                        <img src="Logo/Notification.png" class="notification-logo">

                    <div class="element toHide">
                      <h2 class="account-name ">MR. TONY STARK</h2>
                    </div>

                    <div class="element">
                      <div class="circle-empty"></div>
                    </div>

                  </li>
                  <li id="hideitem1" class="has-subnav nav-item">
                      <a  class="toHighlight" href="#">
                        <img src="Logo/SH-1.png" class="navbar-logo">
                      </a>
                  </li>
                  <li id="hideitem2" class="has-subnav nav-item">
                      <a class="toHighlight" href="#">
                        <img class="navbar-logo" src="images/50.png" alt="" />
                      </a>
                  </li>
                  <div id="hideitem3">
                    <div class="superhero-div">
                        <a id="superheroCornerLink" href="#">SUPERHERO CORNER</a>
                    </div>

                    <li class="nav-item hero-div">
                      <div class="colorTochange heroBox">
                        <div class="superheroimg-div">
                          <img src="Logo/SH-1.png" class="superheroImage">
                        </div>
                        <div class="algoCoder-text">
                          <span class="heading-first">ALGO</span><span class="heading-second">CODER</span>
                        </div>
                        <div class="flex justify-content-around trophies toHide">
                          <img class="trophie-image" src="Logo/45.png">
                          <img class="trophie-image" src="Logo/45.png">
                          <img class="trophie-image" src="Logo/45.png">
                        </div>

                      </div>
                    </li>
                    <li class="history-header toHide">
                      <h1>HISTORY OF QUESTIONS</h1>
                    </li>
                    <li class="question-list toHide">
                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                      <div class="question-box">
                        <div class="question">
                          <div class="circle">
                            <img src="Logo/HackerRank.png" class="small-circle-img">
                          </div>
                          <div class="question-text">
                            <p>NUMBER OF ISLANDS - C++</p>
                          </div>

                        </div>
                      </div>

                  </div>

              </ul>


          </nav>


    <!-- Bootstrap Script -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>

</html>
